* {
    font-family: Hack Nerd Font;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

#network,
#tray,
#pulseaudio,
#cpu,
#memory,
#clock {
    background-color: rgba(0, 0, 0, 0);
    color: #4dffff;
    padding: 0 2px 0 2px;
    margin: 0 2px 0 2px;
}
